
h2 {
    text-align: center;
    padding-top: 17px;
}

/* izberi teden tabelca */
#izberiTeden {
    text-align: center;
    margin: auto;
    
    background-color: rgb(240, 240, 240);
    padding: 10px 0;
    margin: 3px;
}
#izberiTeden table {
    text-align:center;
    margin: auto;
    font-size: 18px;
}
#izberiTeden input {
    height: 20px;
    font-size: 18px;
}
#week_increse,
#week_reduce {
    height: auto;
    font-size: 18px;
    cursor: pointer;
}
#btn_showWeek {
    font-size: 20px;
    height: 30px;
    width: 175px;
}
#izberiTeden {
    padding-bottom: 25px;
}



#mainTable table {
    width: 100%
}
#mainTable {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
}
#mainTable thead td {
    border-bottom: 2px solid black;
    border-right: 1px solid black;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 3px;
    padding-right: 3px;
}
#mainTable input[type="text"] {
    overflow: hidden;
    width: 97%;
    max-width: 140px;
    padding: 1%;
}
#mainTable input[type="text"].specialOddelek {
    position: relative;
    overflow: hidden;
    max-width: 300px;
}
#mainTable td {
    vertical-align: middle;
    text-align: center;
    position: relative;
    padding: 2px;
    margin: 0;
    /* white-space:nowrap; */
}
#mainTable .rowOfOddelek {
    border-right: 1px dotted grey;
}
#mainTable .lastRowOfOddelek {
    border-bottom: 1px solid rgb(100, 100, 100);
    border-right: 1px dotted grey;
}
#mainTable tbody:first-of-type {
    border-bottom: 4px double black;
}

input[type="time"] {
    margin: 1px;
}
#mainTable input {
    border: 1px solid rgb(190, 190, 190);
}
#mainTable td[position]:hover {
    background-color: rgba(10, 10, 10, 0.1);
}
#mainTable tr:hover {
    background-color: rgb(230, 230, 230);
}

input[type="text"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="time"]::-webkit-clear-button,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-outer-spin-button,
input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
    display: none;
}
input[inputType="txtTime"] {
    width: 36px !important;
    /* font-size: 14px; */
    text-align: center;
    margin: 1px;
}

.error {
    background-color: rgb(245, 200, 200);
    color: darkred;
    /* text-align: center; */
}
.error a,
.error a:link, 
.error a:visited {
    color: blue;
    text-decoration: none;
}
.error a:hover {
    color: darkblue;
}


/* tooltip */
.tooltipText{
    display: none;
    z-index: 1;
    border: 1px;
    border-style: solid;
    border-width: 1px;
    padding: 3px;
    border-color: black;
    background-color: rgb(250, 250, 210);
    color: black; 
    border-radius: 2px;
    pointer-events: none;
    position: absolute;
    top: 3px;
    left: 0;
    width: 295%;
    /* text-align: left; */
    text-align: justify !important;
}
div[fullPosition] {
    margin: 0;
    padding: 0;
}
.tooltipTitle {
    font-size: 115%;
    font-weight: bold;
    text-decoration: underline;
}
.tooltipPos {
    position: absolute;
    /* potreben da lahko tooltip postavimo direktno pod elemet */
    bottom: 0;
    width: 100%;
}
.toolTipWarning {
    background-color:rgba(255, 199, 13, 0.25);
}
.toolTipError {
    background-color: rgba(255, 0, 0, 0.25);
}
.errorInTooltip {
    background-color: rgb(255, 218, 218);
    padding: 5px;
}
.warningInTooltip {
    background-color: rgb(255, 243, 227);
    padding: 5px;
}
.errorInTooltip p, .warningInTooltip p {
    padding: 5px;
    margin: 0;
}
td:not(:nth-child(2)):not(:last-child) .tooltipPos {
    transform: translateX(-100%);
    z-index: 1;
}
td:last-child .tooltipPos {
    transform: translateX(-200%);
    z-index: 1;
}
.tooltip:hover .tooltipText[isEmpty="false"]  {
    display: block;
}
div[indexType] {
    font-size: 80%;
    float: left;
    /* align-self: center; */
    border-radius: 50%;
    border: 1px solid rgb(150, 150, 150);
    padding: 0px 3px;
    margin-right: 2px;
    margin-bottom: 2px;
}
div[indexType="warning"] {
    background-color: rgb(236, 226, 85);
    color: rgb(20, 20, 20);
}
div[indexType="error"] {
    background-color: rgb(255, 161, 161);
    color: rgb(30, 0, 0);
}
div[indexType] p {
    padding: 0;
    margin: 0;
    position: relative;
    bottom: -1px;
}

.hide {
    display: none;
}
.show {
    display: block
}


button {
    cursor: pointer;
}

#tableButtons {
    text-align: center;
}
#tableZaPlan button {
    font-size: 20px;
    height: 30px;
    width: 150px;
    margin: 15px 30px;
}

#clearAllInputs {
    width: 250px !important;
}

.doneIndicator {
    float: right;
}
.btnImg {
    width: 20px;
    position: relative;
    top: 1px;
}

/* additional data */

#additionalInfo {
    
}
#additionalInfo table {
    margin: auto;
    border-collapse: collapse;
    text-align: center;
}
#additionalInfo td {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 3px;
}
#additionalInfo th {
    padding: 5px;
}
#additionalInfo thead th {
    border: 2px solid black;
}
#additionalInfo #hoursByWorker tbody th {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
#additionalInfo #hoursByWorker td:nth-last-child(3) {
    font-weight: bold;
}
#additionalInfo tr:hover {
    background-color: rgb(210, 210, 210);
}
#additionalInfo #hoursByWorker tbody tr:last-child th,
#additionalInfo tr:last-child td {

    border-bottom: 1px solid black !important;
}
#additionalInfo div {
    background-color: rgb(240, 240, 240);
    padding: 10px;
    margin: 25px 0;
}
#additionalInfo div h3 {
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}
